<!-- 

<label>
  Label:
  <input type="text" (change)="onTitleChanged($event)" />
</label>
<br/>
<label>
  Image of handwiting :
  <input type="file" (change)="onImageChanged($event)" />
</label>
<br/>
<button (click)="newBook()">Submit</button>


-->




<!-- Upload  -->
<form id="file-upload-form" class="uploader">
  <h2 style="text-align: center; margin-bottom: 5%;">Handwritten text recognition</h2>

  <input id="file-upload" (change)="onImageChanged($event)" type="file" name="fileUpload" accept="image/*" />

  <label for="file-upload" id="file-drag">
    <img id="file-image" src="#" alt="Preview" class="hidden">
    <div id="start">
      <i class="fa fa-download" aria-hidden="true"></i>
      <div>Select a file or drag here</div>
      <div id="notimage" class="hidden">Please select an image</div>
      <span id="file-upload-btn" class="btn btn-primary">Select a file</span>
    </div>

    <button class="btn btn-primary" (click)="newBook()">Submit</button>

    <div id="response" class="hidden">
      <div id="messages"></div>
      <progress class="progress" id="file-progress" value="0">
        <span>0</span>%
      </progress>
    </div>
  </label>
  
</form>





