<div class="content-container">

<form id="file-upload-form" class="uploader">
  <h2 class="custom-font clickable" style="text-align: center; margin-bottom: 5%;" (click)="navigateToHomePage()">Handwritten text recognition</h2>

  <input id="file-upload" (change)="onImageChanged($event)" type="file" name="fileUpload" accept="image/*" />

  <label for="file-upload" id="file-drag">
    <div id="start">
      <i class="fa fa-download" aria-hidden="true"></i>
      <div>Select a file or drag here</div>
      <div id="notimage" class="hidden">Please select an image</div>
      <span id="file-upload-btn" class="btn btn-primary">Select a file</span>
    </div>

    <div *ngIf="cover" class="image-preview">
      <img id="file-image" [src]="imageData" alt="Preview" />
      <div class="selected-file-name">Selected file: {{ cover.name }}</div>
    </div>

    Label:
    <input type="text" (change)="onTitleChanged($event)" />
    <button class="btn btn-primary" (click)="newBook()">Submit</button>

    <div id="response" class="hidden">
      <div id="messages"></div>
      <progress class="progress" id="file-progress" value="0">
        <span>0</span>%
      </progress>
    </div>
  </label>
</form>
